
127.0.0.1     [% IF domainname %] [% hostname %].[% domainname %] [% END %] [% hostname %] localhost
::1           [% IF domainname %] [% hostname %].[% domainname %] [% END %] [% hostname %] localhost

[% FOREACH host IN hosts %]
  [%- host.ip %] [% host.fqdn %] 
    [%- FOREACH alias IN host.aliases -%]
      [%- alias -%]
    [%- END -%]
[% END %]
