
127.0.0.1     [% IF dnsdomainname %] [% dnshostname %].[% dnsdomainname %] [% END %] [% dnshostname %] localhost
::1           [% IF dnsdomainname %] [% dnshostname %].[% dnsdomainname %] [% END %] [% dnshostname %] localhost

[% FOREACH host IN hosts %]
  [%- host.ip %] [% host.fqdn %] 
    [%- FOREACH alias IN host.aliases -%]
      [%- alias -%]
    [%- END %]
[% END %]
